.dialog-container {
    background: #121212;
    color: white;
    width: 900px;
    max-width: 95vw;
    border-radius: 20px;
    overflow: hidden;

    animation: dialogOpen .28s cubic-bezier(.22,1,.36,1);
}

.dialog-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:24px 28px;

    background:linear-gradient(
        135deg,
        #1e1e1e,
        #2d2d2d
    );

    border-bottom:1px solid rgba(255,255,255,.08);
    
    animation: headerSlide .45s ease;

}

.dialog-header h2{

    margin:0;
    font-size:30px;
    font-weight:700;
}

.dialog-header p{

    margin-top:6px;
    color:#bbbbbb;
    font-size:14px;

}

.close-btn{

    transition:.35s;

}

.close-btn:hover{

    transform:rotate(180deg) scale(1.12);

    background:rgba(255,255,255,.08);

}


.video-wrapper{

    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    background: black;
    animation: videoFade .55s ease;

}

@keyframes videoFade{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}

.video-wrapper iframe{

    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    border:none;

}

.dialog-footer{

    padding:18px;
    text-align:center;
    color:#9e9e9e;
    font-size:14px;
    border-top:1px solid rgba(255,255,255,.08);
    background:#181818;

}



@keyframes dialogOpen{

    from{
        opacity:0;
        transform:scale(.94);
    }
    to{
        opacity:1;
        transform:scale(1);

    }

}



@keyframes headerSlide{

    from{

        opacity:0;

        transform:translateY(-18px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
