.app-container {
  height: calc(100vh - 64px);
}

.app-sidenav{

    width:240px;
    background:rgba(30,41,59,.92);
    backdrop-filter:blur(18px);
    border-right:1px solid rgba(255,255,255,.08);
    color:white;

}

.app-content {

    padding: 28px;

    background:
        radial-gradient(
            circle at top,
            #2563eb 0%,
            #1e293b 35%,
            #0f172a 100%
        );

    min-height: 100%;

}
