html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
.premium-trailer-dialog .mat-mdc-dialog-container {
    padding: 0 !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    background: transparent !important;
    box-shadow: none !important;
}

.premium-trailer-dialog .mdc-dialog__surface {
    border-radius: 20px !important;
    overflow: hidden !important;
    background: transparent !important;
}




body.dark-theme{

    --bg-primary:
        radial-gradient(
            circle at top,
            #2563eb 0%,
            #1e293b 35%,
            #0f172a 100%
        );

    --bg-secondary:rgba(30,41,59,.92);

    --card-bg:rgba(20,20,20,.82);

    --surface:#111827;

    --text-primary:#ffffff;

    --text-secondary:#cbd5e1;

}



body.light-theme{

    --bg-primary:
        linear-gradient(
            to bottom,
            #eef4ff,
            #f8fbff
        );

    --bg-secondary:#ffffff;

    --card-bg:#ffffff;

    --surface:#ffffff;

    --text-primary:#111827;

    --text-secondary:#6b7280;

}
