html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
.premium-trailer-dialog .mat-mdc-dialog-container {
    padding: 0 !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    background: transparent !important;
    box-shadow: none !important;
}

.premium-trailer-dialog .mdc-dialog__surface {
    border-radius: 20px !important;
    overflow: hidden !important;
    background: transparent !important;
}
